
.modal-content{
    height: 100%;
    background-color: #c6c6c6;
}
.modal-header{
    background-color: #ffffff;
    border-bottom: 1px solid #ff4500;
}
.modal-title{
    font-size: 1rem;
    color:#131313
}
.modal-body{
    color: #131313;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.modal-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.modal-body img{
    width: 100%;
}

.modal-body ul{
    margin-top: 2rem;
    list-style: none;
    line-height: 2.5;
}
.modal-dialog-li{
    font-size: 12px;
    color: transparent;
    text-shadow: 0 0 #131313;
}
.modal-footer{
    justify-content: center;
    background-color: #ffffff;
    border-top: 1px solid #ff4500;
}
/* .modal-header .btn-close{
    filter: invert(93%) sepia(23%) saturate(5428%) hue-rotate(322deg) brightness(101%) contrast(95%);
} */
.btn-close a{
    display: block;
    width: 100%;
    height: 100%;
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#131313;
    font-weight: 700;
}

.footer-text img{
    height: 18px;
    margin-right: 4px;
}

@media (min-width: 576px) {
    .modal-dialog{
        min-width: 26vw;
        float: right;
        margin-right: 12px;
    }
}

@media (min-width: 992px) {
    .modal-dialog{
        margin-right: 50px;
    }
}